body{
  font-family:'Roboto', Arial, Helvetica, sans-serif;
  overflow-x:hidden;
  margin: 0;
  margin-top: 60px;
}

.presentation {
  padding: 10px;
  margin-bottom: 100px;
}

.chap li {
  font-size: 22px;
}

.main{
  width: 100%;
  transition:margin-left 0.5s;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.programme {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.matiere {
  display:grid;
  grid-template-columns: 1fr 4fr 1fr;
  transition: 0.5s;
  padding-bottom: 50px;
}


h1 {
  font-size: 90px;
  margin-bottom: 40px;
}

h2 {
  font-size: 60px;
  margin-top: 20px;
}

.fiches-liens li {
  font-size: 25px;
  margin-bottom: 15px;
}

.pdf {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.liens-accueil img {
  height: 50px;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 20px;
  margin-right: 20px;
  z-index: 0;
}

.liens-accueil {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 10px
}


.liens-accueil a {
  display: flex;
  align-items: center;
  transition: 0.5s;
}

@media (hover: none) and (orientation: portrait), (max-width:700px) {
/*@media (max-width:700px) {*/

  body {
    font-size: 50px;
    padding-top: 100px;
  }
  
  .presentation {
    padding: 60px;
  }

  .main{
    display: block;
    font-size: 50px;
    margin:0 ;
  }

  .programme {
    display: block;
  }

  .matiere {
    display:block;
    padding-left: 40px;
    padding-right: 20px;
  }

  .chap {
    padding-top: 20px;;
    padding-left: 40px;
    padding-right: 40px;
  }

  .chap li {
    font-size: 40px;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 30px;
  }

  .liens-accueil {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    font-size: 70px;
  }

  .liens-accueil img {
    height: 120px;
    padding: 40px;
    border-radius: 40px;
    border-width: 5px;
    margin-right: 40px;
  }

  .liens-accueil:hover {
    border-radius: 40px;
  }


}